import(nlme)
import(ecodist)
importFrom("graphics", "text")
importFrom("graphics", "axis", "legend", "lines", "mtext", "par","plot", "polygon")
importFrom("stats", "dist", "formula", "na.omit", "residuals","update")
 importFrom("stats", "anova")
## Export regular function names
export(amod,anova.modelFrame,arguSelect,cClass,frametoLme,levexp,lmeForm,modelFrame,moveYr,muleMan,mUnits,plot.modelFrame,plot.muleMan,plot.wlai,ringApply,rtimes,summary.modelFrame,scacum,shiftFrame,slitFrame,tdForm,wlai)
#exportPattern("^[[:alpha:]]+")
S3method(anova, modelFrame)
S3method(summary,modelFrame)
S3method(plot,modelFrame)
S3method(plot,muleMan)
S3method(plot,wlai)
